<nav class="navbar navbar-light bg-light">


    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/"> Aleki Blog </a></li>
        <li><a href="/">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('main.add_post',uname = current_user.username)}}">Add Post</a></li>
        <li><a href="{{url_for('main.profile',uname = current_user.username)}}">Profile</a></li>
        <li><a href="{{url_for('auth.logout')}}">Logout</a></li>

        {% else %}
        <li><a href="{{url_for('auth.login')}}">Login</a></li>
        {%endif%}
    </ul>



</nav>